@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 69px;
    background-color: #EC362D;
    z-index: 2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: #fff;
    font-size: 37px;
    font-weight: 700;
}

main {
    margin: 69px auto 0 auto;
    height: 100vh;
}

h1 {
    font-size: 20px;
    font-weight: 700;
}

button {
    background: #EC362D;
    border-radius: 15px;
    border: none;
    width: 90%;
    height: 54px;
    color: #fff5F4;
    font-size: 18px;
    cursor: pointer;
    padding: 0px 25px;
}

.quizz-image {
    position: relative;
    margin: 20px;
    border-radius: 5px;
    width: 90%;
    /*Força o aspect ratio da imagem pra manter ela em paisagem*/
    aspect-ratio: 16/9;
    background-image: url("../images/placeholder.png");
    background-size: cover;
    background-position: center;    
}

.quizz-image:after {
    /*Copiei de um exemplo na internet e torci pra dar certo*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    border-radius: 5px;
}

.quizz-image img {
    border-radius: 5px;
}

.quizz-image .titulo-quizz {
    position: absolute;
    color: #fff;
    width: 100%;
    height: 30%;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 15px;
    font-size: 19px;
    text-align: center;
    line-height: 22px;
    align-items: center;
    /*z-index para ficar por cima do gradiente, manter abaixo do z-index do header*/
    z-index: 1;
}

.hidden {
    display: none;
}


@media(min-width: 1100px) {
    button{
        width: auto;
    }
    .quizz-image{
        width: 35%;
    }
}