.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0;
}

ul {
    width: 100%;
}

.campos-de-texto,
.pergunta,
.nivel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 24px 16px;
    height: 100%;
}

.error{
    color: #EC362D;
    margin-bottom: 17px;
}

.input-error{
    background-color: #FFE9E9;
}

.comeco .campos-de-texto,
.pergunta,
.nivel {
    background: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin: 29px 0px;
}

.titulo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 16px;
}

section h1{
    margin: 12px 0px 12px 0px;
}

.resposta{
    margin: 20px 0px 30px 0px;
}

.resposta:last-child, .campos-de-texto:last-child{
    margin-bottom: 0px;
}

.titulo ion-icon{
    font-size: 26px;
    --ionicon-stroke-width: 40px;
    color: #000;
}

.campos-de-texto input,.campos-de-texto textarea{
    width: 100%;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding: 14px 15px;
    margin-bottom: 9px;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

.campos-de-texto input::placeholder, .campos-de-texto textarea::placeholder{
    color: #bababa;
    font-style: italic;
}

.campos-de-texto input{
    height: 46px;
}
.campos-de-texto textarea{
    height: 180px;
}

.campos-de-texto.collapsed{
    max-height: 0px;
    margin: 0px;
    padding: 0px;
}
.collapsed *{
    display: none;
}

.hide-icon ion-icon{
    display: none;
}


.voltar{
    font-size: 18px;
    color: #818181;
    height: 44px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 9px;
}

a {
    text-decoration: none;
}